/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Add CSS styling here */
.Title h1 {
    text-align: center;
    font-size: 5rem;
    padding-bottom: 2%;
}

.navbar {
    display: flex;
    justify-content: center;
    
}

.navbar a {
    text-decoration: none;
    font-size: 1rem;
    border: .2rem solid;
    padding: 2rem 2rem;
    color: black;
}

.navbar a:hover{
    background-color: black;
    color: white;
}

.Intro h1 {
    text-align: center;
    font-size: 5rem;
    padding-top: 2%;
}

.Ipsum p {
    Width: 90%;
    line-height: 4rem;
    margin: 5rem auto;

}

.middlesection img {
    Width: 100%;
    Height: 50rem;
}

.bottomsection {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
}

.pictures img {
    height: 60rem;
    width: 20%;
}

.paragraph {
display: flex;
align-items: center;
    
}

.paragraph p {
padding-right: 15rem;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    Background-color: Grey;
    height: 20rem;
   
}

.contactme  {
display: flex;
font: white;
border: solid black;
color: black;
text-decoration: none;
background-color: white;
height: 5rem;

}

@media(max-width: 800px) {

}


@media(max-width: 500px) {

}
